/* Write your CSS here */

@media screen and (max-width: 768px) {
  .bg-dash-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .page-not-found {
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
    font-family: Bree Serif;
  }
}

@media screen and (min-width: 768px) {
  .bg-dash-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .page-not-found {
    color: #ffffff;
    font-size: 42px;
    font-weight: 500;
    font-family: Bree Serif;
  }
}
